.zyqy-basic-layout-content {
    padding: 20px;
    width: 100%;
}

.blog-page {
    width: 100%;
}

.blog-page .page-title {
    position: sticky;
    top: 0;
    z-index: 2019;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}

.blog-page .page-content {
    margin: 0 50px;
}
.zyqy-basic-layout-title {
    text-align: center;
}