.tree-title {
    display: flex;
    align-items: center;
}

.op-icon {
    margin-left: 10px;
    color: #ee9999;
    cursor: pointer;
    font-size: .7em;
}

.zyqy-tree-node-collapse {
    margin-top: 0;
    color: #333;
}

.category-tree-title {
    cursor: default;
}

.category-tree-actions .anticon {
    font-size: 15px;
}